:root {
  --main-font: "Montserrat", sans-serif;
  --accent-color: #ff6b09;
  --white-color: #ffffff;
  --main-color: #111518;
  --second-color: #b9b9b9;
  --black-color: #000000;
}

body {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.649;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1680px;
  padding: 0 183px;
  margin: 0 auto;
}
/* ========================---COMPONENTS---============================ */

.section-title {
  font-weight: 800;
  font-size: 46px;
  line-height: 1.3;
  /* or 60px */
  letter-spacing: 0.03em;
}
.title-white {
  color: var(--white-color);
}

.title-span {
  color: var(--accent-color);
}

.subsection-underlist-item,
.hero-slogan,
.benefit-text,
.work-card-title,
.work-card-item,
.program-title,
.program-undertitle,
.teacher-text-top {
  letter-spacing: 0.08em;
  color: var(--main-color);
  /* display: flex;
align-items: center; */
}
.subsection-underlist-item {
  line-height: 1.2;
}

.subsection-underlist-item.top,
.program-undertitle,
.teacher-text-top,
.work-card-item {
  color: var(--accent-color);
}

.registration-text,
.footer-tel {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.233;
  text-align: center;
  letter-spacing: 0.08em;
}

.work-card-text,
.program-text,
.teacher-text,
.teacher-link,
.feedback-text,
.feetback-undertitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.08em;

  color: var(--second-color);
}

.subsection-box {
  background-color: var(--white-color);
}

.modal-btn {
  min-width: 354px;
  height: 70px;
  padding: 26px 26px;

  font-size: 14px;
  line-height: 1.214;
  /* identical to box height */

  /* display: flex;
  align-items: center; */
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* ========================---END COMPONENTS---============================ */

/* ===================---HEADER---====================== */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.logo-top {
  display: flex;
  align-items: center;
}

.container .logo {
  margin-right: 144px;
  outline: 2px solid tomato;
}

.nav-list {
  display: flex;
  outline: 2px solid tomato;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.logo-top-left,
.logo-top-right {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  /* identical to box height */
  letter-spacing: 0.04em;

  color: var(--main-color);
}

.logo-bottom {
  font-size: 8px;
  line-height: 1.25;
  /* identical to box height */
  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: var(--main-color);
}
.logo-bottom-start {
  color: var(--accent-color);
}
.nav-list-link {
  font-size: 14px;
  line-height: 1.214;
  /* identical to box height */
  /* display: flex;
  align-items: center;*/
  text-align: center;
  text-transform: uppercase;

  color: var(--second-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.header-btn {
  min-width: 335.49px;
  height: 70px;
  padding: 26px 22px;
  /* margin-left: 60px; */
  margin-left: auto;
  border: 2px solid #ff6b09;

  color: var(--accent-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
/* ======================--- END HEADER---====================== */

/* =====================---HERO---===================== */
.hero-container {
  width: 1680px;
  padding-left: 183px;
  padding-right: 45px;
}
.hero-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.3;
  /* or 75px */

  letter-spacing: 0.03em;

  color: var(--main-color);
}
.slogan-first {
  font-weight: 500;
  color: var(--second-color);
}
.slogan-end {
  color: var(--accent-color);
}

.hero-btn {
  margin-top: 40px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
  cursor: pointer;
  border: 2px solid #ff6b09;
}
/* ======================---END hero---======================== */

/* ===================---benefit---======================= */

/* =======================---END benefit---======================= */

/* =======================---help---======================= */
.help .container {
  background-color: var(--black-color);
}
/* =======================---END help---======================= */

/* ======================---work---======================== */
/* .work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list-item {
  width: 425px;
  margin-top: 20px;
  padding: 40px 30px;
  color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
} */
.work-card-title {
  line-height: 1.4;
  text-align: center;
}

.work-card-item {
  text-align: center;
}

.work-card-text {
  text-align: center;
}

.work-list-item:hover,
.work-list-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* .work-list-item .work-card-title:hover,
.work-list-item .work-card-item:hover,
.work-list-item .work-card-text:hover,
.work-list-item .work-card-title:focus,
.work-list-item .work-card-item:focus,
.work-list-item .work-card-text:focus {
  color: #ffffff;
} */
/* .work-card {
  display: block;
}
.work-card:hover,
.work-card:focus {
  background-color: #ff6b09;
  color: #ffffff;
} */

/* =======================---END work---======================= */

/* ====================---program---========================== */
.program .container {
  background-color: var(--black-color);
}
.program-title {
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--white-color);
}

.program-text {
  opacity: 0.5;
}
/* ====================---END program---========================== */

/* ========================---teacher---======================= */
.teacher-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.233;
  /* identical to box height */
  letter-spacing: 0.08em;

  color: var(--main-color);
}

.teacher-list-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.06em;

  color: var(--main-color);
}

.teacher-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
/* ========================---END teacher---======================= */

/* ========================---guarantee---======================= */
.guarantee-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  /* or 140% */
  color: #3d3d3d;
}

.guarantee-text-span {
  color: var(--accent-color);
}
/* ========================---END guarantee---======================= */

/* =========================---Feedback---====================== */
.feedback-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.233;
  /* identical to box height */

  letter-spacing: 0.08em;

  color: var(--accent-color);
}
.feetback-undertitle {
  font-size: 14px;
  line-height: 1.214;
}
.feedback-text {
  color: #3d3d3d;
}
.feedback-text-link {
  color: var(--accent-color);
}
/* =========================---END Feedback---====================== */

/* ==========================---registration---===================== */
.registration .container {
  background-color: var(--black-color);
}
.registration-text {
  color: var(--white-color);
}
/* ==========================---END registration---===================== */

/* =============================---footer---================== */
.footer-tel {
  color: var(--main-color);
}
.copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  /* display: flex;
align-items: center; */
  color: var(--second-color);
}
.footer-container {
  background-color: var(--main-color);
}
/* =============================---END footer---================== */
